<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd">

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>
    </bean>

    <util:list id="airportData" value-type="com.crossover.trial.weather.data.AirportData">
        <value></value>
    </util:list>

    <bean id="restWeatherCollectorEndpoint" class="com.crossover.trial.weather.rest.RestWeatherCollectorEndpoint" />

    <bean id="restWeatherQueryEndpoint" class="com.crossover.trial.weather.rest.RestWeatherQueryEndpoint" />

</beans>